.stat-container {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 150px auto;
  grid-gap: 1px;
  margin-top: 2em;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  .stat-container {
    // height: 85%;
  }
  .grid-container {
    // display: flex;
    // flex-direction: column;
  }
}
