@font-face {
  font-family: 'Archivo Narrow', sans-serif;
  src: url('../assets/fonts/ArchivoNarrow-Regular.ttf');
}

@font-face {
  font-family: 'Archivo Black';
  src: url('../assets/fonts/ArchivoBlack-Regular.ttf');
}
