@font-face {
  font-family: "Archivo Narrow", sans-serif;
  src: url("../assets/fonts/ArchivoNarrow-Regular.ttf");
}

@font-face {
  font-family: "Archivo Black", sans-serif;
  src: url("../assets/fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
