.form-modal {
  z-index: 5;
  position: fixed;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  form {
    width: 400px;
    height: 400px;
    background-color: var(--bg-panel);
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em;

    div {
      // border: 1px var(--bg) solid;
      width: 350px;
      input {
        display: block;
        width: 100%;
        padding: 0.5em 1em;
        margin: 0.5em 0;

        // text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .form-modal {
    form {
      width: 350px;
      height: 400px;

      div {
        width: 300px;
      }
    }
  }
}
