div .macro-container {
  background: none;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 550px;

  // .chart {
  //   height: 80%;
  // }
}

div .macro-headers {
  background: none;
  display: flex;
  flex-direction: column;

  h4 {
    // padding-bottom: 0.5em;
  }

  p {
    font-size: 14px;
  }
}

div .macro-chart {
  width: 135px;
  background: none;
  padding-bottom: 1em;
}

.macro-goal {
  font-size: 12px;
}
