.sidebar {
  // width: 100vw;
  display: flex;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
    // height: 5vh;
    width: 100%;
    .link {
      padding: 1em 1em;
      text-decoration: none;
      color: var(--text);
    }
  }
}
@media (min-width: 768px) {
  .sidebar {
    height: 100vh;
    background-color: var(--bg-panel);
    // left: 0;
    ul {
      flex-direction: row;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      padding: 2em 0;
      // border-top: 1px solid var(--bg);
      width: 100%;
      .link {
        // border-top: 1px solid var(--bg);
        width: 100%;
        padding: 1em 0;
        text-align: center;
      }
      .link:last-child {
        border-bottom: 1px solid var(--bg);
      }
    }
    width: 200px;
  }
}
