@import "./global";
@import "./sidebar";
@import "./dashboard";
@import "./loginform";
@import "./errors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Archivo Narrow";
}

html {
  height: 100%;
  width: 100%;
  // position: fixed;
  // width: 100%;
  font-family: "Archivo Narrow", "Archivo Black", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  --bg: #f4f1de;
  --bg-panel: rgba(0, 0, 0, 0.1);
  --bg-secondary: #3d405b;
  --color-headings: #81b29a;
  --color-text: #e07a5f;
  --color-accent: #f2cc8f;
}

body {
  background-color: var(--bg);
  color: var(--color-text);
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.wrapper {
  width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
}

form {
  input {
    color: var(--color-text);
    font-size: large;
  }
  .submit-button {
    color: var(--color-headings);
    background-color: var(--bg-panel);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  }
}

.container {
  // border: 1px pink solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  padding: 2em;
  // overflow: hidden;

  h1 {
    margin: 0;
    color: var(--color-headings);
    font-family: "Archivo Black";
    font-size: 50px;
    letter-spacing: -20;
    // background-color: red;
  }

  p {
    color: var(--color-text);
    // grid-area: content;
    font-size: 1.1em;
    line-height: 1.8rem;
  }

  a {
    text-decoration: none;
  }

  ul {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .container {
    // margin: 5em;
    // place-self: center;
    padding: 0;
    width: 90%;
    // margin: 4em;
    // justify-content: space-around;
    // align-items: center;
  }
  .main-wrapper {
    flex-direction: column;
  }
  .main-wrapper {
    height: 100vh;
  }
}
