@font-face {
  font-family: "Archivo Narrow", sans-serif;
  src: url("../assets/fonts/ArchivoNarrow-Regular.ttf");
}

@font-face {
  font-family: "Archivo Black";
  src: url("../assets/fonts/ArchivoBlack-Regular.ttf");
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar ul {
  background-color: var(--bg-secondary);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar ul .link {
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

.sidebar ul .link div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.sidebar ul .link div span {
  display: none;
}

.sidebar ul .link div:hover {
  background-color: var(--color-accent);
}

@media (min-width: 768px) {
  .sidebar {
    height: 100vh;
    background-color: var(--bg-panel);
    width: 60px;
  }
  .sidebar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2em 0;
    width: 100%;
  }
  .sidebar ul .link {
    border-top: 1px solid var(--bg-panel);
    width: 100%;
  }
  .sidebar ul .link div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em 0;
  }
  .sidebar ul .link:last-child {
    border-bottom: 1px solid var(--bg-panel);
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 200px;
  }
  .sidebar ul .link div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 90px;
        grid-template-columns: 30px 90px;
    gap: 10px;
  }
  .sidebar ul .link div span {
    display: inline-block;
  }
}

.stat-container {
  width: 100%;
  height: 380px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 250px 1fr;
      grid-template-rows: 1fr 250px 1fr;
  grid-gap: 3px;
  width: 100%;
  margin-top: 2em;
}

.grid-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 80px;
}

.grid-container div .head {
  color: gray;
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 10px;
}

@media (min-width: 768px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    height: 400px;
  }
}

.form-modal {
  z-index: 5;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.form-modal form {
  width: 350px;
  height: 400px;
  background-color: var(--bg-secondary);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
}

.form-modal form div {
  width: 300px;
}

.form-modal form div input {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.5em 0;
}

@media (min-width: 768px) {
  .form-modal form {
    width: 420px;
    height: 400px;
  }
  .form-modal form div {
    width: 360px;
  }
}

.error-container {
  border-radius: 2px;
  padding: 1em 1.3em;
  background-color: rgba(255, 0, 0, 0.4);
  color: var(-color--headings);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Archivo Narrow", "Archivo Black", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --bg: #f4f1de;
  --bg-panel: rgba(0, 0, 0, 0.1);
  --bg-secondary: #3d405b;
  --color-headings: #81b29a;
  --color-text: #e07a5f;
  --color-accent: #f2cc8f;
  --font-header: "Archivo Black";
}

body {
  background-color: var(--bg);
  color: var(--color-text);
}

.main-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

form input {
  color: var(--color-text);
  font-size: large;
}

form .submit-button {
  color: var(--color-headings);
  background-color: var(--bg-panel);
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 2em;
}

.container h1 {
  margin: 0;
  color: var(--color-headings);
  font-family: "Archivo Black";
  font-size: 50px;
  letter-spacing: -20;
}

.container p {
  color: var(--color-text);
  font-size: 1.1em;
  line-height: 1.8rem;
}

.container a {
  text-decoration: none;
}

.container ul {
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60px auto;
        grid-template-columns: 60px auto;
  }
}

@media (min-width: 1200px) {
  .main-wrapper {
    -ms-grid-columns: 200px auto;
        grid-template-columns: 200px auto;
  }
}
/*# sourceMappingURL=main.css.map */