@import "./global";

html {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

  display: grid;
  align-items: center;
  justify-content: center;

  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-headings: #0077ff;
  --color-text: #333333;
}

body {
  background-color: var(--bg);
}

.container {
  background-color: var(--bg-panel);
  margin: 5em;
  padding: 5em;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-areas: "title switch" "content content";

  h1 {
    margin: 0;
    color: var(--color-headings);
  }

  p {
    color: var(--color-text);
    grid-area: content;
    font-size: 1.1em;
    line-height: 1.8rem;
  }
}
